<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Diagnóstico Médico</title>
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Sistema Especialista para Diagnóstico Médico</h2>
        
        <div class="text-center mt-4">
            <a href="/diagnostico_por_sintomas" class="btn btn-primary btn-lg mb-4">Diagnosticar por Sintomas</a>
            <a href="/engenharia_reversa" class="btn btn-secondary btn-lg mb-4">Engenharia Reversa (Doença para Sintomas)</a>
        </div>
    </div>
</body>
</html>
